.recipe-instructions {
    margin: 40px 0 20px 0;
}

.nutrition p {
    margin: 0 0 1rem 0;
}

.colunm-1 {
    padding: 0 15.62rem 0 1rem;
    line-height: 2.5rem;
}

.colunm-2 {
    color: rgb(119, 38, 38);
    font-weight: bold;
}